.container-gastos{
    display: flex;
    flex-direction: column;
    
    gap: 0.3rem;
}
.gastos-container{
  padding: 0.5rem 2rem ;
  align-items: center;
  justify-content: center;
  color: #FEFAE0;
  width: 47vh;
  margin-top: 25px;
}

.gastos-container h3{
    font-weight: bold;
    font-size: 2.4rem;
    color: #809733;
}

.preco{
    margin-top: 12px;
    font-weight: 900;
    font-size: 2.5rem;
    color: black;
}

.periodo{
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.2em;
    color: #404E4D;
}

.container-gastos-button{
    display: flex;
    flex-direction: column;
}
.button-periodo-container{
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 1.2rem;
    padding-left: 2rem;
}

.periodo-containerWidth{
    width: 100%;
}