.tituloheaderr{
    color: #DE8434;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 30px;
    padding-top: 16px;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tituloheaderr button{
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #DE8434; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.tituloheader button:hover {
    background-color: #f44336; /* Cor de fundo do botão ao passar o mouse */
}

label{
    color: #809733;
}

.mesAndAnoContainer{
    display: flex;
    flex-direction: row;
    margin-left: 23rem;
    gap: 33.5rem;
}
.mesAndAnoContainer p {
   font-weight: 500;
    font-size: 1.2em;
    color: #404E4D;
}

.mesAndAnoContainer select {
    
    width:80px; /* Largura total do container */
    padding: 2px; /* Espaçamento interno */
    font-size: 16px;
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Cantos arredondados */
    background-color: #fff; /* Cor de fundo do select */
    color: #333; /* Cor do texto */
    margin-left: 10px;
 }
 
 

